@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #f5f5f7;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

/*--------------NAVBAR----------------------*/
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0;
  background: #333;
  opacity: 0.9;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: orange;
}

/*------------ACCUEIL-------------*/
.accueil{
  height: 100vh;
  background: url("/img/dev-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.accueil-content{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.accueil-content h1{
    color: #fff;
    font-weight: 900;
    font-size: 4em;
    letter-spacing: 0.03em;
    line-height: 0.9em;
}
.accueil-content h2{
    color:#fff;
    padding-top: 5px;
    font-weight:500;
    font-size:2.25em;
    margin-bottom:15px
}

.btn-cv{
    display: flex;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: solid 3px #fff;
    border-radius: 30px;
}

.btn-cv:hover{
    background-color: #fff;
    color: #222;

}

/*-----------PRESENTATION------------*/

.presentation{
    display: grid;
    height: 100vh;
}

.presentation h3{
  text-align: center;
  color: #333;
  font-size: 40px;
  margin-top: 40px;
  height: 20%;
}

.pres-content{
    color: #333;
    font-size: 40px;
    margin-top: 30px;
    
}

.pres-content h3{
    text-align: center;
    height: 10%;
    
}

.pres-card{
  /* background-image: url(/img/logo-moi.svg); */
  background-size: contain;

  display: flex;
  /* background-color: #f5f5f7; */
  /* border: solid 2px grey;
    border-radius: 10px; */
}

.logo-moi{
  /* background-color: #f5f5f7; */
  display: flex;
  height: 400px;
  width: 100vw;
}
.pres-text-wrapper{
  display: flex;
  margin: 0 30px 0 30px;
  height: 400px;
  
}
.pres-texte{
  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height:35px;

}


/* PROJETS  */

.project-wrapper{
  display: grid;
  height: auto;
  gap: 20px;
  grid-template-rows: 4% 1fr;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 5%;
  padding: 10%;
}
#card1{
  grid-column-start: 2;
  grid-row-start: 2;
  padding-bottom: 4%;

}
#card2{
  grid-column-start: 1;
  grid-row-start: 2;

  padding-bottom: 4%;


}
#card3{
  grid-column-start: 3;
  grid-row-start: 2;

  padding-bottom: 4%;


}

.project-card{
  display: grid;
  height: auto;
  gap: 30px;
  text-align: center;
  align-self: center;
  width: 100%;
  grid-template-rows: 60% 20% 10% 10%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
}


.project-card:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.4s;
}
.card-text{
 height: 150px;
  
}

.card-img{
    height: auto;
    width: 100%;
    border-radius: 8px 8px 0 0 ;
}
.card-header{

    background-color: white;
}
.title-project{
  text-align: center;
  justify-content: center;
  grid-column-start: 2;
  grid-row-start: 1;
}

@media screen and (max-width: 500px){
  .project-wrapper{
  height: auto;
  grid-template-columns: 1fr ;
  grid-template-rows: 2% 1fr 1fr 1fr;
  }

  .project-card{
    width: 70%;
    height: 350px;
  grid-template-rows: 40% 10% 10% 10%;
  font-weight: bold;
  justify-self: center;

  }
  .card-text{
    height: 80px;
    font-size: 10px;
     
   }
   .card-header{
     font-size: 25px;
  
    background-color: white;
}

  #card1{
    grid-row-start: 2;
    grid-column-start: 1;
    
  }
  #card2{
    grid-row-start: 3;
    grid-column-start: 1;

  
  
  }
  #card3{
    
    grid-row-start: 4;
    grid-column-start: 1;

  }
  .title-project{
    text-align: center;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media screen and (min-width: 500px) and (max-width:850px){


  .project-wrapper{
    height: auto;
    grid-template-columns: 1fr ;
    grid-template-rows: 2% 1fr 1fr 1fr;
    justify-items: center;
    gap: 50px;
    padding: 10%;
    }
  
    .project-card{
    width: 80%;
    height: auto;
    justify-self: center;
  
    }
    .card-text{
      height: 130px;
      font-size: 20px;
       
     }
     .card-header{
       font-size: 35px;
      background-color: white;
  }
  .title-project{
    text-align: center;
    justify-content: center;
    grid-column: 1;
    grid-row-start: 1;
    text-align: center;
    font-size: 30px;
  }
  
    #card1{
      grid-row-start: 2;
    grid-column-start: 1;
      
    }
    #card2{
      grid-row-start: 3;
      grid-column-start: 1;

  
    }
    #card3{
      
      grid-row-start: 4;
      grid-column-start: 1;

  
    }

}


@media screen and (min-width: 851px) and (max-width:1200px){

  .project-wrapper{
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 5% 1fr 1fr;
    justify-items: center;
    gap: 50px;
    padding: 10%;
    }
  
    .project-card{
    width: 100%;
    height: auto;
    justify-self: center;
  
    }
    .card-text{
      height: 180px;
      font-size: 20px;
       
     }
     .card-header{
       font-size: 35px;
      background-color: white;
  }
  .title-project{
    text-align: center;
    justify-content: center;
    grid-column: 2 / span 2;
    grid-row-start: 1;
    text-align: center;
    font-size: 30px;
  }
  
    #card1{
      grid-column: 1 / span 2;
      grid-row-start: 2;
      
    }
    #card2{
      grid-row-start: 2;
      grid-column: 3 / span 2;
  
    }
    #card3{
      
      grid-row-start: 3;
      grid-column: 1 / span 4;
  
    }
  }







/*-----------COMPETENCES----------*/

.competences{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 15% 25% 15% 25%;
  height: 100vh;
  /* background: #e3edf7; */
  justify-items: center;
  align-items: center;
}

.competences h3{
  color: #333;
  margin-top:50px;
  font-size: 40px;
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
}
/* HTML PROGRESSBAR */



.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px 6px 10px -1px rgba(255,255,255,0.7);
}

.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
  inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
  -0.5px -0.5px 0px rgba(255,255,255,1),
  0.5px  0.5px 0px rgba(0,0,0,0.15),
  0px 12px 10px -10px rgba(0,0,0,0.05);
  
}

#htmlLogo{
  width: 100px;
  height: 100px;
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: end;
}

#cssLogo{
  width: 70px;
  height: 100px;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: end;

}

#jsLogo{
  width: 70px;
  height: 100px;
  grid-column-start: 3;
  grid-row-start: 2;
  align-self: end;

}

#phpLogo{
  width: 120px;
  height: 80px;
  grid-column-start: 1;
  grid-row-start: 4;
  align-self: end;

  
}

#reactLogo{
  width: 150px;
  height: 90px;
  grid-column-start: 2;
  grid-row-start: 4;
  align-self: end;

}

#wordpressLogo{
  width: 100px;
  height: 100px;
  grid-column-start: 3;
  grid-row-start: 4;
  align-self: end;

}

#number1{
  font-weight: 600;
  font-size: 25px;
  color: #555;
}

.skill-1{
  width: 160px;
  height: 160px;
  position: relative;
  grid-column-start: 1;
  grid-row-start: 3;
}

#circle1{
  fill: none;
  stroke: url(#GradientColor1);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim1 3s linear forwards;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim1{
  100%{
    stroke-dashoffset: 130;
  }
}

/* CSS PROGRESSBAR */

.skill-2{
  width: 160px;
  height: 160px;
  position: relative;
  grid-column-start: 2;
  grid-row-start: 3;
}

#number2{
  font-weight: 600;
  font-size: 25px;
  color: #555;
}

#circle2{
  fill: none;
  stroke: url(#GradientColor2);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim2 3s linear forwards;
}

@keyframes anim2{
  100%{
    stroke-dashoffset: 130;
  }
}

/* JS PROGRESSBAR */

.skill-3{
  width: 160px;
  height: 160px;
  position: relative;
  grid-column-start: 3;
  grid-row-start: 3;
}

#number3{
  font-weight: 600;
  font-size: 25px;
  color: #555;
}

#circle3{
  fill: none;
  stroke: url(#GradientColor3);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim3 3s linear forwards;
}

@keyframes anim3{
  100%{
    stroke-dashoffset: 200;
  }
}

/*PHP*/

.skill-4{
  width: 160px;
  height: 160px;
  position: relative;
  grid-column-start: 1;
  grid-row-start: 5;
}

#number4{
  font-weight: 600;
  font-size: 25px;
  color: #555;
}

#circle4{
  fill: none;
  stroke: url(#GradientColor4);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim4 2s linear forwards;
}

@keyframes anim4{
  100%{
    stroke-dashoffset: 220;
  }
}

/* WORDPRESS */

.skill-5{
  width: 160px;
  height: 160px;
  position: relative;
  grid-column-start: 2;
  grid-row-start: 5;
}

#number5{
  font-weight: 600;
  font-size: 25px;
  color: #555;
}

#circle5{
  fill: none;
  stroke: url(#GradientColor5);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim5 2s linear forwards;
}

@keyframes anim5{
  100%{
    stroke-dashoffset: 220;
  }
}

.skill-6{
  width: 160px;
  height: 160px;
  position: relative;
  grid-column-start: 3;
  grid-row-start: 5;
}

#number6{
  font-weight: 600;
  font-size: 25px;
  color: #555;
}

#circle6{
  fill: none;
  stroke: url(#GradientColor6);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim6 3s linear forwards;
}

@keyframes anim6{
  100%{
    stroke-dashoffset: 130;
  }
}
@media screen and (min-width: 1250px) {

  .competences{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% 12% 22% 12% 22%;
  }

  .competences h3{
    grid-column: 1 / span 4;
    grid-row-start: 1;
  }
  .skill-4{
    grid-column-start: 4;
    grid-row-start: 3;
  }

  #phpLogo{
    width: 120px;
    height: 80px;
    grid-column-start: 4;
    grid-row-start: 2;
  }


}

@media screen and (max-width: 750px) {

  .competences{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 5% 18% 5% 18% 5% 18%;
    gap: 20px 5px;
    height: 100%;
    top: 100px;
    left: 0;
  }

  .competences h3{
    grid-column: 1 / span 2;
    grid-row-start: 1;
    font-size: 22px;
    align-self: end;
    padding-top: 5%;
  }

  .skill-1{
    grid-column-start: 1;
    grid-row-start: 3;
    align-self: start;
  }
  .skill-2{
    grid-column-start:2 ;
    grid-row-start: 3;
    align-self: start;

  }
  .skill-3{
    grid-column-start: 1;
    grid-row-start: 5;
    align-self: start;

  }
  .skill-4{
    grid-column-start: 2;
    grid-row-start: 5;
    align-self: start;

  }
  .skill-5{
    grid-column-start: 1;
    grid-row-start: 7;
    align-self: start;

  }
  .skill-6{
    grid-column-start: 2;
    grid-row-start: 7;
    align-self: start;

  }

  #htmlLogo{
    width: 70px;
    height: 70px;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
  }
  
  #cssLogo{
    width: 48px;
    height: 70px;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  #jsLogo{
    width: 48px;
    height: 70px;
    grid-column-start: 1;
    grid-row-start: 4;
  }
  
  #phpLogo{
    width: 75px;
    height: 50px;
    grid-column-start: 2;
    grid-row-start: 4;
    align-self: center;
  }
  
  #reactLogo{
    width: 85px;
    height: 55px;
    grid-column-start: 1;
    grid-row-start: 6;
    align-self: center;

  }
  
  #wordpressLogo{
    width: 70px;
    height: 70px;
    grid-column-start: 2;
    grid-row-start: 6;
  }
}



@media  screen and (max-width: 450px) {
  .competences{
    display: none;
  }

  .outer{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px 6px 10px -1px rgba(255,255,255,0.7);
  }
  
  .inner{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px  0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    
  }

  .skill-1{
   
    position: relative;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
  #circle1{
    fill: none;
    stroke: url(#GradientColor1);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 3s linear forwards;
  }

  .competences h3{
    grid-column: 1 / span 2;
    grid-row-start: 1;
  }

  .skill-1{
    grid-column-start: 1;
    grid-row-start: 3;
    width: 80px;
    height: 80px;
  }
  .skill-2{
    grid-column-start:2 ;
    grid-row-start: 3;
  }
  .skill-3{
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .skill-4{
    grid-column-start: 2;
    grid-row-start: 5;
  }
  .skill-5{
    grid-column-start: 1;
    grid-row-start: 7;
  }
  .skill-6{
    grid-column-start: 2;
    grid-row-start: 7;
  }

  #htmlLogo{
    width: 50px;
    height: 50px;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  #cssLogo{
    width: 70px;
    height: 100px;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  #jsLogo{
    width: 70px;
    height: 100px;
    grid-column-start: 1;
    grid-row-start: 4;
  }
  
  #phpLogo{
    width: 120px;
    height: 80px;
    grid-column-start: 2;
    grid-row-start: 4;
  }
  
  #reactLogo{
    width: 150px;
    height: 90px;
    grid-column-start: 1;
    grid-row-start: 6;
  }
  
  #wordpressLogo{
    width: 110px;
    height: 110px;
    grid-column-start: 2;
    grid-row-start: 6;
  }

}




/*----------- Contact ------------->*/

.contact{
    display: grid;
    height: 100vh;
}

.contact-content{
    color: #333;
    font-size: 40px;

    margin-top: 50px;
}

.contact-content h3{
    text-align: center;
}



.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }


  .accueil-content h1{
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.015em;
    line-height: 1.1em;
}
.accueil-content h2{
    color:#fff;
    padding-top: 5px;
    font-weight:400;
    font-size:1.3em;
    margin-bottom:30px
}
}

